<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,700"
      rel="stylesheet"
    />

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <!-- Theme style  -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
  </head>
  <body>
    <div class="gtco-loader"></div>

    <div id="page">
      <div th:insert="fragments/nav"></div>
      <header th:replace="fragments/header :: ${headerFragment}"></header>
    </div>
    <div class="gtco-services gtco-section">
      <div class="gtco-container">
        <div class="row row-pb-md">
          <a th:href="@{/?page=P1}" th:text="Welcome"></a>
          <a th:href="@{/?page=P2}" th:text="Chapter2"></a>
          <div th:each="item : ${cardData}">
            <div class="col-md-4 col-sm-4 service-wrap">
              <div class="service">
                <div><h1 th:text="${item.title}"></h1></div>
                <h1 th:text="${item.text}"></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Main -->
    <script src="js/main.js"></script>
  </body>
</html>
